/* Override default theme */

* {
	box-sizing: border-box;
}

html {
	background: none;
}

.slide {
	padding: 0;
	background: #d9d957;
	border: none;
}

section > header.slide {
	background-color: inherit;
}

/* Timer style */

#timer {
	height: 4px;
	padding: 0;
	background: #7D5C8B;
	box-shadow: 0px 0px 1px 1px #7D5C8B;
}

#timer::before {
	content: '';
}

/* Figure Default style */
figure {
	background: center center / contain no-repeat;
}

figcaption {
	visibility: hidden;
}

/* Slide Footer */

footer.slide-footer {
	background-color: white;

	position: absolute;
	bottom: 0;

	width: 100vw;
	height: 10vh;
	padding: 1vh 5vw;

	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	align-content: center;
}

.slide-footer .item {
	height: 8vh;
}

/* College Ribbon */

h3.college {
	height: 5vh;
	padding-left: 5vw;

	background-color: black;

	line-height: 5vh;
	font-size: 3vh;
	color: white;
	font-variant: small-caps;
}

.college strong::after {
	content: ' ';
}

/* Slide title */

h1 {
	background-color: #7D5C8B;

	height: 20vh;
	padding: 5vh 5vw;

	font-size: 5vh;
	line-height: 5vh;
	font-weight: bold;
}

/* Title Slide */

#title figure {
	background-image: url("img/PSA_DSIN.png");
	background-color: white;

	height: 25vh;
}

#title h2.course {
	background-color: #4f4e55;

	height: 5vh;
	padding: 0 5vw;

	line-height: 5vh;
	font-size: 3vh;
	color: white;

	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
}

#today {
	display: inline-block;
	font-variant: small-caps;
}

#title .people {
	background-color: #d9d957;

	height: 35vh;
	padding: 5vh 5vw;

	color: black;
}

.people .author {

}

.author .name {
	height: 6vh;

	line-height: 6vh;
	font-size: 4vh;
}

.author .department {
	height: 2vh;

	line-height: 2vh;
	font-size: 2vh;
}

.author .class {
	height: 2vh;

	line-height: 2vh;
	font-size: 2vh;
	color: #666666;
}

.people .tutor {
	height: 3vh;
	margin-top: 2vh;

	line-height: 3vh;
	font-size: 3vh;

}

/* Section title */

section > header.slide {
	background-color: #d9d957;
}

.section-title .content {
	width: 80vw;
	height: 50vh;
	margin-top: 20vh;
}

.section-title figure {
	background-image: url("img/PSA_DSIN.png");
	background-color: white;

	height: 25vh;
}

/* Normal slide */

.section-slide header.slide-header {
	background-color: white;

	height: 25vh;
	padding: 5vh 0;
}

.section-slide .slide-header figure {
	background-image: url("img/PSA_DSIN.png");
	background-color: white;

	position: absolute;
	top: 0;
	right: 0;

	width: 25vw;
	height: 25vh;
}

.section-slide .slide-header figure img {
	max-height: 100%;
	max-width: 100%;
}

.section-slide .slide-header .college {
	width: 75vw;
}

.section-slide .slide-header h2 {
	background-color: #7D5C8B;

	width: 75vw;
	height: 10vh;
	padding: 2vh 5vw;

	line-height: 6vh;
	font-size: 6vh;
}

.section-slide main {
	background-color: white;

	height: 70vh;
}

.section-slide footer {
	background-color: #d9d957;

	height: 5vh;
	padding: 1vh 5vw;

	line-height: 3vh;
	font-size: 2vh;
	color: #666666;
}

/* Thanks slide */

.slide.thanks-slide {

}

.thanks-slide header.slide-header {
	height: 70vh;
	padding-top: 5vh;
}

.thanks-slide .slide-header figure {
	background-image: url("img/PSA_DSIN.png");
	background-color: white;

	height: 40vh;
}

.thanks-slide footer {
	margin-top: 20vh;
}