/* Override default theme */

* {
	box-sizing: border-box;
}

html {
	background: none;
	overflow: hidden;
}

.slide {
	padding: 0;
	background: #d9d957;
	border: none;
}

/* Timer style */

#timer {
	height: 4px;
	padding: 0;
	background: #7D5C8B;
	box-shadow: 0px 0px 1px 1px #7D5C8B;
}

#timer::before {
	content: '';
}

/* Figure Default style */
figure {
	background: center center / contain no-repeat;

	/*Transitions defaults*/
	/*width: 100%;*/
}

figcaption {
	visibility: hidden;
	height: 0;
}

/* Title Slides Figures */

.presentation-title header figure,
.part-title header figure,
.thanks-title header figure {
	background-image: url("img/PSA_DSIN.png");
	background-color: white;
}

/* Slide Footer */

.presentation-title footer,
.part-title footer,
.thanks-title footer {
	background-color: white;

	position: absolute;
	bottom: 0;

	width: 100vw;
	height: 10vh;
	padding: 1vh 5vw;

	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	align-content: center;
}

.presentation-title footer img,
.part-title footer img,
.thanks-title footer img {
	height: 8vh;
	opacity: 1;
}

/* College Ribbon */

h3.college {
	height: 5vh;
	padding-left: 5vw;

	background-color: black;

	line-height: 5vh;
	font-size: 3vh;
	color: white;
	font-variant: small-caps;

	/*Transitions defaults*/
	/*width: 100%;*/
}

.college strong::after {
	content: ' ';
}

/* Slide title */

h1 {
	background-color: #7D5C8B;

	height: 20vh;
	padding: 5vh 5vw;

	font-size: 5vh;
	line-height: 5vh;
	font-weight: bold;

	/* Transitions defaults */
	/*width: 100%;*/
	color: white;
	text-shadow: .05em .05em .1em rgba(0,0,0,.4);
}

/* List style */

ul {
	list-style: none;
}

.slide li {
	margin: .1vh;
}

ul > li::before {
	content:'\2714';
	color: #a0c12c;
	padding-right: .2em;
}

ul ul {
	margin-left:2em;
}

li li::before {
	content: '\279C';
	color: #28bcbc;
}

/* Presentation Title */

#today {
	display: inline-block;
	font-variant: small-caps;
}

.presentation-title header {
	/* Transisiton defaults */
	width: 100%
}

.presentation-title h2.course {
	background-color: #4f4e55;

	height: 5vh;
	padding: 0 5vw;

	line-height: 5vh;
	font-size: 3vh;
	color: white;

	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
}

.presentation-title figure {

	height: 25vh;

	/* Transitions defaults */
	margin-top: 0vh;
}

.presentation-title section {
	background-color: #d9d957;

	height: 35vh;
	padding: 5vh 5vw;

	color: black;

	/*Transitions defaults*/
	opacity: 1;
}

.presentation-title address .name {
	height: 6vh;

	line-height: 6vh;
	font-size: 4vh;
}

.presentation-title address .department {
	height: 2vh;

	line-height: 2vh;
	font-size: 2vh;
}

.presentation-title address .class {
	height: 2vh;

	line-height: 2vh;
	font-size: 2vh;
	color: #666666;
}

.presentation-title section .tutor {
	height: 3vh;
	margin-top: 2vh;

	line-height: 3vh;
	font-size: 3vh;

}

/* Part Title */

.part-title {
	background-color: #d9d957;
}

.part-title header {
	margin-top: 20vh;
	height: 50vh;
	width: 80vw;

	/*Transitions defaults*/
	border-bottom: 0vh solid #4f4e55;
	box-sizing: content-box;
}

.part-title.from-presentation-title header::after {
	content: "";
	position: absolute;
	width: 80vw;
	height: 0vh;
	background-color: #4f4e55;
}

.part-title figure {
	height: 25vh;
}

.part-title h1 {
	font-size: 5vh;
    line-height: 5vh;
    font-weight: bold;
}

/* Part Slide */

.part-slide {
	background-color: white;
}

.part-slide header {
	height: 25vh;
	/*padding: 5vh 0;*/

	/*Transitions defaults*/
	margin-top: 0;
	width: 100vw;
}

.part-slide header::before {
	content: "";
	display: block;
	height: 5vh;
	width: 100vw;
	background: url("img/PSA_DSIN.png") no-repeat white;
	background-position: left center;
	background-size: contain;
}

.part-slide header::after {
	content: "";
	display: block;
	height: 0vh;
	width: 100vw;
	background: url("img/PSA_DSIN.png") center center / contain no-repeat white;
}

.part-slide header figure {
	background-image: url("img/PSA_DSIN.png");
	background-color: white;

	position: absolute;
	top: 0;
	right: 0;

	width: 25vw;
	height: 25vh;

	/*Transitions defaults*/
	opacity: 1;
}

.part-slide header .college {
	/*margin-top: 5vh;*/
}

.part-slide h2 {
	background-color: #7D5C8B;

	height: 10vh;
	padding: 2vh 5vw;

	line-height: 6vh;
	font-size: 6vh;
}

.part-slide section {
	background-color: white;

	height: 70vh;
	padding: 0 5vw;

	color: black;
	text-align: justify;
	line-height: 4vh;
	font-size: 3vh;

	/*Transition defaults*/
	opacity: 1;
}

.part-slide footer {
	background-color: #d9d957;

	position: absolute;
	bottom: 0;
	width: 100vw;
	height: 5vh;
	padding: 1vh 5vw;

	line-height: 3vh;
	font-size: 2vh;
	color: #666666;
}

/* Thanks slide */

.thanks-title {

}

.thanks-title header {
	height: 70vh;
}

.thanks-title header::before {
	content: "";
	display: block;
	height: 5vh;
	width: 100vw;
	opacity: 0;
	background: url("img/PSA_DSIN.png") no-repeat white;
	background-position: left center;
	background-size: contain;
}

.thanks-title h1 {
	font-size: 6vh;
	line-height: 7vh;
}

.thanks-title figure {
	height: 40vh;
}


/* Behavioral Style */

 
.slide {
	display: block; /*none*/

	opacity: 0;
	visibility: hidden;

	transition: visibility 0s .5s;
}
 
 .slide.previous,
 .slide:target,
 .slide.next {
 	opacity:1;
 }

/* Transitions */



/*General*/

.slide:not(:target),
.slide:not(:target) * {
	transition: all .5s;
}

.slide:not(:target) footer img {
	opacity: 0;
}

.slide:target footer img {
	transition: opacity .5s .5s;
}

.presentation-title:not(:target) h1,
.presentation-title:not(:target) .course,
.presentation-title:not(:target) section,
.presentation-title:not(:target) section .class,

.part-title:not(:target) h1,

.part-slide:not(:target) h2,
.part-slide:not(:target) footer,

.thanks-title:not(:target) h1 {
	color: rgba(0,0,0,0);
	text-shadow: 0 0 0 rgba(0,0,0,0);
}

.presentation-title:target h1,
.presentation-title:target .course,
.presentation-title:target section,
.presentation-title:target section .class,

.part-title:target h1,

.part-slide:target h2,
.part-slide:target footer,

.thanks-title:target h1 {
	transition: color .5s .5s, text-shadow .5s .5s;
}

/*Presentation Title*/

.presentation-title.to-part-title.previous figure {
	margin-top: 20vh;
}

.presentation-title.to-part-title.previous header {
	width: 80%;
}

.presentation-title.to-part-title.previous .course {
	height: 0;
	overflow: hidden;
}

.presentation-title.to-part-title.previous section {
    opacity: 0;
}

/*Part Title*/

.part-title.from-presentation-title.next header {
	width: 100vw;
	margin-top: 0vh;
	border-bottom: 5vh solid #4f4e55;
}

.part-title.from-presentation-title.next header::after {
	width: 100vw;
	height: 5vh;
	transition: width .5s, height .5s;
}

.part-title.to-part-slide.previous {
	background-color: white;
}

.part-title.to-part-slide.previous header {
	margin-top: 0vh;
	width: 100vw;
}

.part-title.to-part-slide.previous figure {
	height: 5vh;
	background-position: left center;
}

.part-title.to-part-slide.previous h1 {
	height: 10vh;
}

.part-title.to-part-slide.previous footer {
	height: 5vh;
	background-color: #d9d957;
}

.part-title.to-part-slide.previous footer img {
	height: 3vh;
}

/*Part Slide*/

.part-slide:not(:target) {
	background-color: #d9d957
}

.part-slide:not(:target) header figure {
	height: 0;
	opacity: 0;
}

.part-slide:target header figure {
	transition: height .5s .5s;
}

.part-slide:not(:target) section {
	opacity: 0;
	transition-duration: .25s;
}

.part-slide:target section {
	transition: opacity .5s .5s;
}

.part-slide.from-part-title.next header {
	margin-top: 20vh;
	width: 80vw;
	background-color: #d9d957;
}

.part-slide.from-part-title.next header::before {
	width: 80vw;
	height: 25vh;
	background-position: center center;
	transition: width .5s, height .5s, background-position .5s;
}

.part-slide.from-presentation-title.next footer,
.part-slide.from-part-title.next footer,
.part-slide.to-part-title.previous footer,
.part-slide.to-thanks-title.previous footer {
	height: 10vh;
	background-color: white;
}

.part-slide.from-presentation-title.next h2,
.part-slide.from-part-title.next h2,
.part-slide.to-part-title.previous h2,
.part-slide.to-thanks-title.previous h2 {
	height: 20vh;
}

.part-slide.to-thanks-title.previous header::before {
	opacity: 0;
	transition: opacity .5s;
}

.part-slide.to-thanks-title.previous header {
	background-color: #d9d957;
}

.part-slide.to-thanks-title.previous header::after {
	height: 40vh;
	transition: height .5s;
}

/*Thanks Title*/

.thanks-title.from-part-slide.next {
	background-color: white;
}

.thanks-title.from-part-slide.next header::before {
	opacity: 1;
	transition: opacity .5s;
}

.thanks-title.from-part-slide.next h1 {
	height: 10vh;
}

.thanks-title.from-part-slide.next figure {
	height: 0
}

.thanks-title.from-part-slide.next footer {
	height: 5vh;
	background-color: #d9d957;
}

.thanks-title.from-part-slide.next footer img {
	height: 3vh;
}